<% provide(:title, 'Contact Us') %>
<h1>Contact Us<h1>
<p> Contact US! this page is being written so this page will just CRUSH IT FOR the excercise area of the RAILS TUTORIAL BY MICHAEL HARTIL REPRESENT!!!!!!!!!!!!! 
</p>